<div class="content" role="main">

  <!-- header section -->
  <div class="bg-color">
  <div class="menu-wrapper">
    <ul class="menu">
      <i class="fas fa-home"> Hourglass</i> &nbsp;
      <li id="li1">Home</li>
      <li id="li1">Products</li>
      <li id="li1">Resources</li>
    </ul>
    <div class="btn-sales">Talk to sales</div>
  </div>
 <div class="section-2">
  <div class="main-text">
    <span>We design physical <span class="underline">experiences</span> that <br> create more happy in the world</span>
  </div>
  <div class="inner-main-text">
    <span>we are full service design agency who specialise <br> in simple, useful and beautiful solutions for any space.</span>
  </div>
  <div class="main-text-button">
    <div class="btn-reel"><i class="fas fa-video"></i> show reel</div>
    <div class="btn-touch blob-btn">Get in touch</div>
  </div>
 </div>
 <div>
  <div class="main-text-startups">
    <span>We've worked with some great startups</span>
  </div>
  <div>
    <ul class="main-text-starup-list">
      <i class="fas fa-layer-group"> Layers</i>
      <i class="fas fa-shopping-cart"> Catlogs</i>
      <i class="fas fa-balance-scale"> Quotient</i>
      <i class="fas fa-mountain"> Sisyphus</i>
      <i class="fas fa-ice-cream"> Circoolies</i>
    </ul>
  </div>
 </div>
</div>

<!-- section 2 -->
  <div class="section2-inner-text">
    <div class="section2-outer">
      <span class="section2-title-text">Who we are</span>
      <span class="section2-main-text">Commercial interior designers</span>
      <span class="section2-main-p-text">Untitled are a Commercial interior designer studio. We <br> specialise in custmised office design, restaurat design, <br> shop design, and studio design. </span>
    </div>
    <div class="section3-outer">
     <div>
      <span class="section3-title-text"><i class="fas fa-comments icon-color"></i> Share team inboxed</span>
      <p class="section3-main-text">Wheather you have a team of 2 or 200, our shared team inboes <br> keep everyone on the same page and in the loop.</p>
     </div>
     <div>
      <span class=section3-title2-text><i class="fas fa-truck icon-color"></i> Deliver instant answers</span>
      <p class="section3-main-text">An all-in-one customer service platform that helps you balance <br>
      everything your customers need yo be happy.</p>
     </div>
    </div>
  </div>

  <!-- image section -->
  <div>
      <div class="image-container">
        <img src="assets/image/interior-image.jpg" alt="Example Image" class="responsive-image">
        <div class="overlay-text">Curiosity is the spark behind every great idea. When we dare to explore the unknown and question the familiar, we open doors to infinite possibilities and endless learning</div>
      </div>
  </div>
  <hr class="styled-hr" />

  <!-- section 4 -->
  <div class="section4-bottom ">
    <div class="section4-outer">
      <span class="section2-title-text"><i class="fas fa-home"> Hourglass</i> &nbsp;</span>
      <ul class="menu4">
        <li>Overview</li>
        <li>Features</li>
        <li>Pricing</li>
        <li>Career</li>
        <li>Help</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div class="section4-text-outer">
     <div class="section4-inner-outer">
      <p class="section4-title-text"> Stay up to date</p>
      <input class="styled-input" placeholder="Enter your email" />&nbsp;<span class="section4-btn">Subscribe</span>
     </div>
    </div>
  </div>
  <hr class="styled-hr" />

  <!-- Footer section -->
  <div class="cpyright">
    <div class="copyright-text">
      <span>&copy; 2024  Hourglass. All rights reserved.</span>
      <ul class="copyrights-menu">
        <li>Terms</li>
        <li>Privacy</li> 
        <li>Cookies</li>
      </ul>
    </div>
  </div>
</div>
